<app-page-header [title]="'general.title' | translate"></app-page-header>

<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to the Fortuna Bot Application!</p>
  </div>

  <p>Chat mailing types configuration.</p>
    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)" mat-stretch-tabs>
        <mat-tab label="Holidays">
          <p>Holidays table place</p>
        </mat-tab>
        <mat-tab label="Advices">
          <p>Advices table place</p>
        </mat-tab>
        <mat-tab label="Memes">
          <p>Memes table place</p>
        </mat-tab>
    </mat-tab-group>
</section>


